<!DOCTYPE html>
<html lang="<%= config.language %>">
  <head>
    <%- partial('_includes/head') %>
  </head>
  <body
    class="bg-[#333] text-[#999] antialiased"
    style="background-image: url('/img/bg.png')">
    <div id="app" class="w-full min-h-screen flex flex-col">
      <!-- 顶部导航栏 开始 -->
      <%- partial('_partials/navbar', {}, {cache: true}) %>
      <!-- 顶部导航栏 结束 -->

      <!-- 内容 开始 -->
      <div
        class="max-w-4xl w-full mx-auto <%= `${is_home() ? 'mt-24' : 'mt-32'}` %>">
        <%- body %>
      </div>
      <!-- 内容 结束 -->

      <!-- 页脚 开始 -->
      <%- partial('_partials/footer', {}, {cache: true}) %>
      <!-- 页脚 结束 -->

      <!-- 悬浮按钮 开始 -->
      <%- partial('_partials/backtop', {}, {cache: true}) %>
      <!-- 悬浮按钮 结束 -->
    </div>

    <!-- 脚本 开始 -->
    <%- partial('_includes/script', {}, {cache: true}) %>
    <!-- 脚本 结束 -->
  </body>
</html>
