<div
  class="w-full mx-auto pt-8 md:px-0 bg-[#444] rounded-none md:rounded shadow">
  <!-- 文章封面 开始 -->
  <div
    class="relative flex mx-8 mb-4 flex-col md:flex-row px-4 md:px-0 rounded bg-no-repeat bg-center bg-cover bg-scroll"
    style="background-image: url('<%- page.feature %>')">
    <div
      class="absolute top-0 left-0 h-full w-full rounded bg-[#212529] opacity-50"
      style="
        background-image: radial-gradient(transparent 1px, #141414 1px);
        background-size: 4px 4px;
        backdrop-filter: saturate(50%) blur(4px);
      "></div>
    <div class="flex-1 order-2 md:order-1">
      <div class="flex flex-wrap">
        <div class="mx-auto basis-2/3 relative w-full px-3.75">
          <div class="py-16">
            <!-- 标签 -->
            <div class="">
              <% page.tags.forEach(function(tag) { %>
              <a
                href="<%- url_for(tag.path) %>"
                class="inline-block rounded-full px-2.5 text-white leading-6 text-xs no-underline ml-[1px] mb-5 mr-1.5 border-2 border-solid border-white">
                <%= tag.name %>
              </a>
              <% }); %>
            </div>

            <!-- 标题 -->
            <div class="text-4xl font-bold text-white"><%- page.title %></div>

            <!-- 发布时间 -->
            <div class="text-sm italic mt-4 text-white">
              <%= __('Posted on') %> <span><%- date(page.date) %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 文章封面 结束 -->

  <!-- 文章内容 开始 -->
  <div class="p-8">
    <div class="flex flex-row">
      <div class="markdown-content w-full mx-auto"><%- page.content %></div>
    </div>
  </div>
</div>
<!-- 文章内容 结束 -->

<!-- 分页 开始 -->
<% if (page.prev || page.next) { %>
<div class="my-4 px-4 md:px-0 flex justify-between">
  <!-- 上一篇 开始 -->
  <% if (page.prev) { %>
  <a
    href="<%- url_for(page.prev.path) %>"
    class="text-[#eaeaea] bg-[#444] inline-flex items-center rounded text-sm font-semibold px-4 py-2 shadow transition-all duration-100 hover:shadow-md">
    <div>
      <i class="ri-arrow-left-line mr-4"></i>
      <%= __('Prev post') %>
    </div>
  </a>
  <% } %>
  <!-- 上一篇 结束 -->

  <!-- 下一篇 开始 -->
  <% if (page.next) { %>
  <a
    href="<%- url_for(page.next.path) %>"
    class="text-[#eaeaea] bg-[#444] inline-flex items-center rounded text-sm font-semibold px-4 py-2 shadow transition-all duration-100 hover:shadow-md">
    <div>
      <%= __('Next post') %>
      <i class="ri-arrow-right-line ml-4"></i>
    </div>
  </a>
  <% } %>
  <!-- 下一篇 结束 -->
</div>
<% } %>
<!-- 分页 结束 -->
